.route-list {
    padding: 20px;
}

.route-list__card {
    background-color: white;
    margin-bottom: 30px;
    height: 220px;
    padding: 20px;
}

.route-list__card--type {
    text-transform: capitalize;
    font-weight: bold;
    color: #808080;
}

.route-list__card--duration {
    color: #A8A8A8;
    font-size: 20px;
}

.route-list__card--start-end {
    text-align: right;
    color: #696969;
    font-size: 22px;
}

.route-list__card--icon {
    height: 128px;
    width: 128px;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.route-list__card--more-information {
    font-size: 15px;
    text-align: right;
    margin-left: -15px;
    color: #4682B4;
    text-decoration: underline;
}

.route-list__card--icon-taxi {
    background-image: url('../css/taxi.png');
}

.route-list__card--icon-public_transport {
    background-image: url('../css/public_transport.png');
}

.route-list__card--icon-car_sharing {
    background-image: url('../css/car_sharing.png');
}

.route-list__card--icon-private_bike {
    background-image: url('../css/private_bike.png');
}

.route-list__card--icon-bike_sharing {
    background-image: url('../css/bike_sharing.png');
}