html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  background-color: #F5F5F5;
  font-family: OpenSans, Helvetica Neue, Helvetica, Microsoft Sans Serif, Arial, sans-serif;
  font-size: 18px;
}

a {
  color: brand-color(b1);
  text-decoration: none;
}

a[disabled='disabled'] {
  pointer-events: none;
  cursor: default;
}

button,
input,
select,
textarea {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {

  }
}

dd {
  margin: 0;
}

dl {
  margin: 0;
}

.page-content {
  padding: 20px;
}